.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
  display: block;
}

.App-title {
  font-size: 1.5em;
}

.game-board {
  background-color: aquamarine;
  height: 250px;
  width: 250px;
  margin: auto;
  margin-top: 50px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
}

.board-row {
  flex: 1;
  display: flex;
  flex-direction: row;
}

.board-cell {
  background-color: aqua;
  border: 1px solid black;
  flex: 1;
  border-radius: 15px;
}